extends layout
block append head
  title 记账
  link(type="text/css",rel="stylesheet",href="/css/list.css")

block append content
  include ../client/modules/headbar/index
  - var total = 0;
  for item in tallies
    - total += parseFloat(item.cost)
  p.summary
    |总计：
    strong.num= (total.toString().indexOf('.') === -1 ? total : total.toFixed(2))
      small 元
  ul.costs
    - tallies = tallies.reverse();
    for item in tallies
      li.item
        strong.cost= (item.cost.indexOf('.') === -1 ? item.cost : parseFloat(item.cost).toFixed(2))
          small.unit 元
          small.time= (new Date(item.time * 1)).toDateString()
        span.info
          span.keyword= decodeURIComponent(item.keyword)
          span.category= decodeURIComponent(item.category)
        span.del
          include ../client/modules/del_tally/index
          +delTally(item.id)

block append footer
  script(type='text/javascript',src="/js/common/main.js")
  script(type='text/javascript',src="/js/list/main.js")
